// Colors
$dark-background: #333333;
$complementary-color: #C9C23E;

// Navigation colors
$nav-background: $dark-background;
$nav-text-color: $white;
$nav-link-color: $white;
$nav-active-link-color: $secondary-color;
