.top-bar, .top-bar ul {
  background-color: $dark-background;
}
.top-bar{
  .menu-text {
    color: $white;
  }
  .menu > .menu-text > a {
    display: inline;
    padding: 0;
    font-weight: normal;
  }
  .active-link {
    font-weight: bold;
  }
  .nav-tab {
    border-width: 0px 1px;
  }
}
